.login-mat-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-mat-card {
    display: flex;
    align-self: center;
    width: max-content;
    border-radius: 5px;
    margin:auto;
    
}

.login-mat-card-buttons{
display: flex;
justify-content: center;
}

.login-page{
    height: 100vh;
    display: flex;
    align-content: center;
}