<body>
    <customer-toolbar></customer-toolbar>
    
        <table mat-table [dataSource]="dataSource"  matSort #empTbSort="matSort" class="fl-table" class="ticket-table">
            <ng-container matColumnDef="takeOffCity" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center" > Takeoff Location </th>
                <td mat-cell *matCellDef="let flight" class="clickable cell-center" >{{flight.takeOffCity}}</td>
            </ng-container>
            <ng-container matColumnDef="landingCity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Landing Location </th>
                <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.landingCity}}</td>
            </ng-container>
            <ng-container matColumnDef="takeOffDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Takeoff Time </th>
              <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.takeOffDate}}</td>
           </ng-container>
           <ng-container matColumnDef="landingDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Landing Time </th>
            <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.landingDate}}</td>
          </ng-container>
          <ng-container matColumnDef="ticketQuantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Quantity </th>
            <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.ticketQuantity}}</td>
          </ng-container>
          <ng-container matColumnDef="ticketFullPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Total Price </th>
            <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.ticketFullPrice}}</td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
        </table>
</body>